/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: var(--petroleo);
  color: var(--verdeclaro);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --fondo: #f7f7f7;
  --blanco: white;
  --negro: black;
  --grisoscuro: #44504f;
  --petroleo: #1c2125;
  --grisclaro: #c0c9c3;
  --verde: #687968;
  --verdeclaro: #93a18d;
  --custom-border: 2px solid var(--azul);
  --custom-radius: 24px;
  --medium: 500;
  --semibold: 600;
  --custom-gap: 40px;
  --custom-padding: 80px 40px;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--fondo);
  color: var(--blanco);
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: var(--medium);
}

h2 {
  font-size: 26 px;
  font-weight: var(--semibold);
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 22px;
  font-weight: var(--semibold);
}

/* ------------ HEADER ------------ */

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  transition: background-color 0.4s ease;
  z-index: 7;
}

header a img {
  height: 36px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

header nav ul li {
  padding-left: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: var(--semibold);
}

.scrolled header {
  background-color: var(--grisoscuro);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 25%);
}

@media only screen and (min-width: 992px) {
  header {
    padding: 20px 40px;
    font-size: 16px;
  }

  header img {
    height: 56px;
  }

  header nav ul li {
    padding-left: 32px;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

nav ul li a {
  display: inline-block;
  position: relative;
}

@media (hover: hover) {
  nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

/* ------------ HERO ------------ */

#hero {
  height: 100vh;
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
}

.slider h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
  z-index: 3;
}

.bullets button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px;
  background: rgb(255 255 255 / 50%);
  cursor: pointer;
  outline: none;
  transition: background 1s ease;
  padding: 0;
  box-shadow: 2px 2px 16px rgb(0 0 0 / 75%);
}

.bullets button.active {
  background: var(--blanco);
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: var(--blanco);
  border: none;
  width: 40px;
  height: 40px;
  font-size: 28px;
  z-index: 4;
  padding: 0;
}

button.prev:hover,
button.next:hover {
  color: inherit;
  background-color: inherit;
}

button.prev {
  left: 20px;
  text-align: left;
}

button.next {
  right: 20px;
  text-align: right;
}

@media only screen and (min-width: 992px) {
  .slider h1 {
    font-size: 40px;
  }

  button.prev {
    left: 40px;
  }

  button.next {
    right: 40px;
  }
}

/* ------------ NOSOTROS ------------ */

#nosotros--desc {
  color: var(--negro);
  grid-area: desc;
  text-align: center;
  padding: 80px 40px;
}

#nosotros--desc p {
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  #nosotros--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "foto desc";
    gap: var(--custom-gap);
    padding: var(--custom-gap);
    align-items: center;
  }

  #nosotros--desc {
    padding: 0 40px;
  }

  #nosotros--desc p {
    font-size: 20px;
  }
}

#nosotros--foto {
  background-image: url(/img/nosotros.avif);
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  grid-area: foto;
  aspect-ratio: 3/2;
}

#valores--container {
  background-color: var(--verde);
  color: var(--blanco);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  #valores--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--custom-gap);
  }
}

.valores--icon {
  padding-bottom: 16px;
}

.valores h3 {
  padding-bottom: 8px;
}

/* ------------ PROYECTOS ------------ */

.body--proyectos header {
  background-color: var(--grisoscuro);
}

#proyectos {
  padding: var(--custom-padding);
  display: grid;
  gap: var(--custom-gap);
}

@media only screen and (min-width: 992px) {
  #proyectos {
    padding: 120px var(--custom-gap);
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: var(--grisoscuro);
  padding: 16px 16px 32px;
  transition: background-color 0.3s ease-in;
}

.card--foto {
  background-position: center;
  background-size: 100%;
  aspect-ratio: 1/1;
  transition: background-size 0.5s ease-in-out; /* Smooth transition */
}

.card h3 {
  padding-top: 16px;
  text-transform: uppercase;
  text-align: center;
}

#proyectos a:nth-child(1) .card--foto {
  background-image: url(/img/card-riverpark.avif);
}

#proyectos a:nth-child(2) .card--foto {
  background-image: url(/img/card-trump.avif);
}

#proyectos a:nth-child(3) .card--foto {
  background-image: url(/img/card-botanica.avif);
}

@media (hover: hover) {
  .card:hover {
    background-color: var(--petroleo);
  }

  .card:hover .card--foto {
    background-size: 105%; /* Enlarged background size on hover */
  }
}

/* ------------ CONTACTO ------------ */

#contacto {
  background-color: var(--verdeclaro);
  padding: var(--custom-padding);
}

form {
  padding-top: var(--custom-gap);
}

form p + p {
  padding-top: 16px;
}

input,
textarea,
button {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: var(--medium);
}

input,
textarea {
  width: 100%;
  background-color: var(--grisclaro);
  color: var(--negro);
  padding: 16px;
  border: none;
  box-sizing: border-box;
}

@media only screen and (min-width: 992px) {
  input,
  textarea {
    width: calc(50% - 40px);
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--grisoscuro);
}

input:focus,
textarea:focus {
  outline: solid 1.5px var(--grisoscuro);
}

textarea {
  height: 10em;
}

/* input:user-valid {
    outline-color: darkgreen;
  }
  
  input:user-invalid {
    outline-color: crimson;
  }
    */

button {
  color: var(--blanco);
  background-color: var(--grisoscuro);
  padding: 10px 24px;
  border: none;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    color: var(--blanco);
    background-color: var(--petroleo);
  }
}

/* ------------ FOOTER ------------ */

footer {
  background-color: var(--verdeclaro);
  padding: 0px var(--custom-gap);
}
.footer-info {
  padding: var(--custom-gap) 0;
  border-top: 1px solid var(--blanco);
}

#creditos {
  grid-area: creditos;
  padding-top: 16px;
}

@media only screen and (min-width: 992px) {
  .footer-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--custom-gap);
    grid-template-areas: "creditos a b";
  }

  #creditos {
    padding-top: 0px;
  }
}

#instagram {
  padding-right: 4px;
}

/* ------------ PAGINAS PROYECTOS ------------ */
/* ------------ HERO PROYECTOS ------------ */

.hero--proyectos {
  width: 100%;
  color: var(--negro);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
}

.caratula > * {
  box-sizing: border-box;
}

.caratula {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 70%;
  max-width: 100%;
}

#riverpark .logo--proyecto {
  width: 50%;
  height: 56px;
  background-image: url(/img/riverpark-logo.png);
  background-position: center;
  background-size: cover;
}

.caratula h1,
.caratula h4 {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.caratula h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
}

.caratula p {
  font-size: 20px;
}

.caratula--foto {
  background-size: cover;
  width: 100%;
}

#riverpark .caratula--foto {
  background-image: url(/img/riverpark-caratula.avif);
}

#trump .caratula--foto {
  background-image: url(/img/trump-caratula.avif);
  background-position: center;
}

@media only screen and (min-width: 992px) {
  .hero--proyectos {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .caratula {
    grid-column: 2/3;
    width: 50%;
    padding: 0;
  }

  .caratula--foto {
    grid-column: 1/2;
  }

  .caratula p {
    width: 80%;
  }
}

/* ------------ UBICACION PROYECTOS ------------ */

.ubicacion--proyectos {
  padding: var(--custom-padding);
  background-color: var(--petroleo);
  display: grid;
  gap: var(--custom-gap);
}

.ubicacion--mapa {
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 992px) {
  .ubicacion--proyectos {
    grid-template-columns: 1fr 1fr;
  }

  .ubicacion--mapa {
    aspect-ratio: auto;
  }

  /* #trump .ubicacion--mapa {
    aspect-ratio: 2/1;
  } */
}

.bold-text {
  font-weight: 600;
}

.ubicacion--proyectos p + p {
  padding-top: 8px;
}

.ubicacion--icon {
  padding-bottom: 24px;
}

/* ------------ AMENITIES PROYECTOS ------------ */

.amenities {
  padding: var(--custom-padding);
  color: var(--negro);
  display: grid;
  gap: var(--custom-gap);
  font-size: 16px;
}

.amenities--listado ul {
  list-style-type: none;
}

.amenities--listado ul li {
  border-bottom: 1px solid var(--negro);
  padding-bottom: 4px;
}

.amenities--listado ul li + li {
  padding-top: 4px;
}

@media only screen and (min-width: 992px) {
  .amenities {
    font-size: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
  }

  .amenities .amenities--foto:nth-child(1) {
    grid-column: 1/6;
  }

  .amenities .amenities--foto:nth-child(2) {
    grid-column: 6/9;
  }

  .amenities .amenities--foto:nth-child(3) {
    grid-column: 9/13;
  }

  .amenities--texto {
    grid-column: 1/8;
  }

  .amenities--listado {
    grid-column: 9/13;
  }

  #trump .amenities--texto {
    grid-column: 1/6;
    grid-row: 2;
  }

  #trump .amenities--listado {
    grid-column: 6/13;
    grid-row: 2;
  }
}

@media only screen and (max-width: 992px) {
  .amenities--texto {
    grid-row: 1;
  }
}

.amenities--foto {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 480px;
}

#riverpark .amenities .amenities--foto:nth-child(1) {
  background-image: url(/img/riverpark-amenities-1.avif);
}

#riverpark .amenities .amenities--foto:nth-child(2) {
  background-image: url(/img/riverpark-amenities-2.avif);
  background-position: 27%;
}

#riverpark .amenities .amenities--foto:nth-child(3) {
  background-image: url(/img/riverpark-amenities-3.avif);
}

#trump .amenities .amenities--foto:nth-child(1) {
  background-image: url(/img/trump-amenities1.avif);
}

#trump .amenities .amenities--foto:nth-child(2) {
  background-image: url(/img/trump-amenities2.avif);
}

#trump .amenities .amenities--foto:nth-child(3) {
  background-image: url(/img/trump-amenities3.avif);
  background-position: 95%;
}

.amenities ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.separador {
  width: 100%;
  aspect-ratio: 4/5;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 992px) {
  .separador {
    aspect-ratio: 3/1;
  }
}

#riverpark .separador {
  background-image: url(/img/separador-riverpark.avif);
}

#trump .separador {
  background-image: url(/img/hero-trump.avif);
  background-position: center 90%;
}

/* ------------ DETALLE PROYECTOS ------------ */

.proyectos--detalle {
  background: var(--verde);
  padding: 80px 40px 40px 40px;
  display: grid;
  gap: var(--custom-gap);
}

.proyectos--detalle p {
  font-size: 16px;
  font-weight: 400;
}

.proyectos--metros p {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--blanco);
}

.proyectos--foto1,
.proyectos--foto2 {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

@media only screen and (min-width: 992px) {
  .proyectos--detalle {
    grid-template-columns: repeat(12, 1fr);
  }

  .proyectos--detalle p {
    font-size: 20px;
  }

  .proyectos--metros {
    grid-column: 8/13;
    grid-row: 1;
  }

  .proyectos--descripcion {
    grid-column: 1/7;
    grid-row: 1;
  }

  .brochure {
    grid-row: 2;
    grid-column: 1/5;
  }

  .proyectos--foto1,
  .proyectos--foto2 {
    grid-row: 3;
  }

  .proyectos--foto1 {
    grid-column: 1/5;
  }

  .proyectos--foto2 {
    grid-column: 5/13;
  }
}

#riverpark .proyectos--foto1 {
  background-image: url(/img/riverpark-detalle1.avif);
  background-position: 25%;
}

#riverpark .proyectos--foto2 {
  background-image: url(/img/riverpark-detalle2.avif);
}

#trump .proyectos--foto1 {
  background-image: url(/img/trump-detalle1.avif);
  background-position: 55%;
}

#trump .proyectos--foto2 {
  background-image: url(/img/trump-detalle2.avif);
  background-position: center bottom;
}

.body--proyectos footer {
  background-color: var(--verde);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
